{% extends 'items/layout.html' %}
{% load my_tag %}
{% load static %}
{% block css_additional %} <link rel="stylesheet" href="{% static 'items/css/login.css' %}"> {% endblock %}
{% block title %}
Items
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center">
          <h2>Registration successful!</h2>
          <p>User with username {{ username }} successfully registered.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}