{% extends 'items/layout.html' %}
{% load static %}
{% block css_additional %}
<link rel="stylesheet" href="{% static 'items/css/item_detail_view.css' %}"> {% endblock %}
{% block title %}
{{item.item_name}}
{% endblock %}


{% block content %}
<div class="container py-4 my-4 mx-auto d-flex flex-column">
    <div class="header">
        <div class="row r1">
            <div class="col-md-9 abc">
                <h1>{{item.item_name}}</h1>
            </div>
        </div>
    </div>
    <div class="container-body mt-4">
        <div class="row r3">
            <div class="col-md-5 p-0 klo">
                <ul>
                    <li>{{item.item_description}}</li>
                </ul>
                <form method="post" action="{% url 'buy_now' item.pk %}">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-primary" type="submit">Buy now for ${{item.item_price}}</button>
                </form>
                <br>
                <button class="btn btn-sm btn-primary" type="submit">Add to cart</button>
            </div>
            <div class="col-md-7"><img src="{{item.item_picture}}" width="90%" height="95%"></div>
        </div>

    </div>
</div>
{% endblock %}